<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kollam District</title>

</head>
<body>

    

    <div class="content">
        <h1>Kollam District</h1>
        <p id="about">Kollam, also known as Quilon, is a scenic district in Kerala, known for its backwaters, beaches, and cultural heritage.</p>

        <h2 id="places">Famous Places to Visit</h2>
        <ul>
            <li><a href="https://www.keralatourism.org/destination/ashtamudi-lake-kollam/230" target="_blank">Ashtamudi Lake</a></li>
            <li><a href="https://www.keralatourism.org/destination/thangassery-lighthouse/226" target="_blank">Thangassery Lighthouse</a></li>
            <li><a href="https://www.keralatourism.org/destination/palaruvi-waterfalls/229" target="_blank">Palaruvi Waterfalls</a></li>
            <li><a href="https://www.jatayuearthscenter.com/" target="_blank">Jatayu Earth's Center</a></li>
            <li><a href="https://www.keralatourism.org/destination/thenmala-ecotourism/227" target="_blank">Thenmala Ecotourism</a></li>
        </ul>
    </div>

</body>
</html>
