<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kottayam District</title>

</head>
<body>

    
    <div class="content">
        <h1>Kottayam District</h1>
        <p id="about">Kottayam, known for its literacy and scenic backwaters, is a district rich in natural beauty and cultural heritage.</p>

        <h2 id="places">Famous Places to Visit</h2>
        <ul>
            <li><a href="https://www.keralatourism.org/destination/kumarakom-backwaters/32" target="_blank">Kumarakom Backwaters</a></li>
            <li><a href="https://www.keralatourism.org/destination/vaikom-mahadeva-temple/34" target="_blank">Vaikom Mahadeva Temple</a></li>
            <li><a href="https://www.keralatourism.org/destination/ilaveezhapoonchira/36" target="_blank">Ilaveezhapoonchira</a></li>
            <li><a href="https://www.keralatourism.org/destination/erumely/37" target="_blank">Erumely</a></li>
            <li><a href="https://www.keralatourism.org/destination/ettumanoor-mahadeva-temple/35" target="_blank">Ettumanoor Mahadeva Temple</a></li>
        </ul>
    </div>

</body>
</html>
